<div class="container">
  <p id="notice"><%= notice %></p>

  <h3>Weather forecast for <%= "#{@forecast.place.city}, #{@forecast.place.state}" %></h3>
  <h5>Zipcode: <%= @forecast.zipcode %></h5>

  <h6 style="width: 500px; height: auto;"><%= @forecast.details %></h6>
  <br />

  <p>
    <strong>Current temp:</strong>
    <%= @forecast.current_temp %>
  </p>

  <% unless @forecast.feels_like.blank? %>
  <p>
    <strong>Feels like:</strong>
    <%= @forecast.feels_like %>
  </p>
  <% end %>

  <p>
    <strong>High temp:</strong>
    <%= @forecast.high_temp %>
  </p>

  <p>
    <strong>Low temp:</strong>
    <%= @forecast.low_temp %>
  </p>
  <% if params[:cache_hit] %>
    <p>
      <strong>cache hit:</strong>
      <%= params[:cache_hit] %>
    </p>
  <% end %>
</div>